about-time==4.2.1
absl-py==2.4.0
adagio==0.2.6
aiofiles==24.1.0
aiogram==3.22.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
alive-progress==3.3.0
altair==5.5.0
annotated-doc==0.0.4
annotated-types==0.7.0
ansi2html==1.9.2
anyio==4.6.2.post1
appdirs==1.4.4
appnope==0.1.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
attrs==24.2.0
Automat==25.4.16
babel==2.16.0
beautifulsoup4==4.12.3
black==25.1.0
bleach==6.2.0
blinker==1.9.0
bs4==0.0.2
cachetools==5.5.2
catboost==1.2.8
category_encoders==2.8.1
certifi==2025.4.26
cffi==2.0.0
charset-normalizer==3.4.0
click==8.1.8
cloudpickle==3.1.1
cloudscraper==1.2.71
cmdstanpy==1.2.5
coloredlogs==15.0.1
comm==0.2.2
constantly==23.10.4
contourpy==1.3.1
coreforecast==0.0.15
cryptography==46.0.3
cssselect==1.4.0
cycler==0.12.1
dash==3.2.0
debugpy==1.8.8
decorator==5.1.1
defusedxml==0.7.1
document==1.0
easyocr==1.7.2
et_xmlfile==2.0.0
ete3==3.1.3
executing==2.1.0
fastapi==0.122.0
fastjsonschema==2.20.0
filelock==3.18.0
filetype==1.2.0
Flask==3.1.2
flatbuffers==25.9.23
fonttools==4.55.0
fqdn==1.5.1
frozenlist==1.8.0
fs==2.4.16
fsspec==2025.3.2
fugue==0.9.1
gensim==4.4.0
gigachat==0.1.39.post1
gitdb==4.0.12
GitPython==3.1.44
graphemeu==0.7.2
graphviz==0.21
gurobipy==12.0.3
h11==0.14.0
hf-xet==1.0.3
holidays==0.69
httpcore==1.0.7
httpx==0.27.2
huggingface-hub==0.30.1
humanfriendly==10.0
hyperlink==21.0.0
idna==3.7
imageio==2.37.0
immutabledict==4.3.0
importlib_metadata==8.7.0
importlib_resources==6.5.2
Incremental==24.11.0
iniconfig==2.1.0
ipykernel==6.29.5
ipython==8.29.0
ipywidgets==8.1.5
isoduration==20.11.0
isort==7.0.0
itemadapter==0.13.1
itemloaders==1.4.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.4
jmespath==1.1.0
joblib==1.4.2
json5==0.9.28
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-dash==0.4.2
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kaggle==1.7.4.5
kagglehub==0.3.13
kiwisolver==1.4.7
lazy_loader==0.4
lightgbm==4.6.0
llvmlite==0.44.0
loguru==0.7.3
lxml==6.0.2
magic-filter==1.0.12
MarkupSafe==3.0.2
matplotlib==3.9.2
matplotlib-inline==0.1.7
mistune==3.0.2
mpmath==1.3.0
multidict==6.7.0
mypy_extensions==1.1.0
narwhals==1.32.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
ninja==1.11.1.4
nltk==3.9.1
notebook==7.2.2
notebook_shim==0.2.4
numba==0.61.0
numpy==2.1.3
onnxruntime==1.23.2
opencv-contrib-python==4.12.0.88
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
ortools==9.15.6755
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pandoc==2.4
pandocfilters==1.5.1
parsel==1.11.0
parso==0.8.4
pathspec==0.12.1
patsy==1.0.1
pdfminer.six==20251107
pdfplumber==0.11.8
pexpect==4.9.0
pillow==10.4.0
pillow_heif==0.22.0
platformdirs==4.3.6
plotly==6.0.1
pluggy==1.6.0
plumbum==1.9.0
ply==3.11
prometheus_client==0.21.0
prompt_toolkit==3.0.48
propcache==0.4.1
prophet==1.1.6
Protego==0.6.0
protobuf==6.33.5
psutil==6.1.0
psycopg2-binary==2.9.11
ptyprocess==0.7.0
PuLP==2.9.0
pure_eval==0.2.3
pyarrow==19.0.1
pyasn1==0.6.2
pyasn1_modules==0.4.2
pyclipper==1.3.0.post6
pycocotools==2.0.10
pycparser==2.22
pydantic==2.11.3
pydantic_core==2.33.1
pydeck==0.9.1
PyDispatcher==2.0.7
Pygments==2.18.0
pyOpenSSL==25.3.0
pyparsing==3.2.0
pypdfium2==5.0.0
PyQt5-Qt5==5.15.15
PyQt5_sip==12.15.0
PySide6_Addons==6.9.0
PySide6_Essentials==6.9.0
PySocks==1.7.1
pytesseract==0.3.13
pytest==8.4.1
python-bidi==0.6.6
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.1.0
python-json-logger==2.0.7
python-slugify==8.0.4
pytz==2024.2
PyWavelets==1.8.0
PyYAML==6.0.2
pyzmq==26.2.0
qrcode==8.1
queuelib==1.9.0
RapidFuzz==3.13.0
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-file==3.0.1
requests-toolbelt==1.0.0
retrying==1.4.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
roboflow==1.1.60
rpds-py==0.21.0
safetensors==0.5.3
scikit-base==0.12.0
scikit-image==0.25.2
scikit-learn==1.6.0
scipy==1.14.1
Scrapy==2.14.1
seaborn==0.13.2
selenium==4.33.0
selenium-stealth==1.0.6
Send2Trash==1.8.3
sentence-transformers==4.1.0
service-identity==24.2.0
setuptools==75.5.0
shap==0.49.1
shapely==2.1.0
shiboken6==6.9.0
simpy==4.1.1
six==1.16.0
sktime==0.36.0
slicer==0.0.8
smart_open==7.5.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==2.0.44
stack-data==0.6.3
stanio==0.5.1
starlette==0.50.0
statsforecast==1.0.0
statsmodels==0.14.3
streamlit==1.44.1
stumpy==1.13.0
sympy==1.14.0
tabulate==0.9.0
tenacity==9.1.2
terminado==0.18.1
text-unidecode==1.3
thefuzz==0.22.1
threadpoolctl==3.5.0
tifffile==2025.3.30
tinycss2==1.4.0
tldextract==5.3.1
tokenizers==0.21.1
toml==0.10.2
torch==2.8.0
torch-vision==0.1.6.dev0
torchvision==0.23.0
tornado==6.4.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.50.3
triad==0.9.8
trio==0.30.0
trio-websocket==0.12.2
tsfresh==0.21.0
ttkbootstrap==1.14.2
Twisted==25.5.0
types-python-dateutil==2.9.0.20241003
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2024.2
undetected-chromedriver==3.5.5
uri-template==1.3.0
urllib3==2.4.0
utilsforecast==0.2.12
uvicorn==0.38.0
w3lib==2.4.0
wcwidth==0.2.13
webcolors==24.11.1
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
widgetsnbextension==4.0.13
wrapt==2.0.1
wsproto==1.2.0
xgboost==3.0.0
xlrd==2.0.2
yarl==1.22.0
zipp==3.23.0
zope.interface==8.2
